<div class="row">
    <div>
        <p class="h3">Archives</p>
    </div>

    <div *ngIf="isLoaderActive" class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="isArchivesEmpty" class="empty-container">
        <img src="../../../assets/favourites_empty.svg"/>

        <h4>Find your favourites here</h4>
        <p>
            Archive the saves you’re finished with using the
            <span>
                <i class="bi bi-archive"></i>
            </span> 
            icon.
        </p>
    </div>

    <div class="row d-flex flex-row">
        <div class="col-4" *ngFor="let archive of archives; let i=index">
            <!-- <app-pokeitem [save]="save"></app-pokeitem> -->
            <app-pokeitem [item]="archive"></app-pokeitem>
            <div *ngIf="(i+1) % 3 == 0" style="margin: 24px 0px;"></div>
        </div>
    </div>
</div>