<div *ngIf="!isError; else errorTemplate" class="row">
    <div style="border-bottom: 1px solid #d9d9d9; padding:0; margin-bottom: 1rem;">
        <p class="h3">Saves</p>
    </div>

    <div *ngIf="isLoaderActive" class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="row d-flex flex-row">
        <div class="col-4" *ngFor="let save of saves; let i=index">
            <!-- <app-pokeitem [save]="save"></app-pokeitem> -->
            <app-pokeitem [item]="save" (deletedItem)="deleteListItem($event)"></app-pokeitem>
            <div *ngIf="(i+1) % 3 == 0" style="margin: 24px 0px;"></div>
        </div>
    </div>
</div>

<ng-template #errorTemplate>
    <app-error [errorCode]="error.errorCode?.toString() || ''" [errorMessage]="error.errorMessage?.toString() || ''"></app-error>
</ng-template>
